footer a {
  text-decoration: none;
  color: #f8f9fa;
}
footer a:hover {
  color: #a9141e; 
}
footer {
  font-size: 14px;
}
footer h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
